* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container
{
  width: 100%;
  min-height: 100vh;
  background: #0b0423;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left,#right{
  width: 300px;
  min-height: 400px;
  margin: 20px;
  border: 2px dashed white;
}
.list{
  color: white;
  background: #e91e63;
  height: 60px;
  margin: 30px;
  display: flex;
  align-items: center;
 cursor: grab;
}
.list img{
  width: 20px;
  margin: 0 15px 0 20px;
}